.popup-container.with-flat-background .popup.walletSelectorPopup {
  padding: 0;
  background: #F7F7F7;
}

.walletSelector {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #333;
  padding: 64px 45px 0 45px;
}

h2.walletSelectorTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 45px;
}

.walletButtonContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 400px;
  min-height: 170px;
}

a.guestSelector {
  cursor: pointer;
  margin-top: 62px;
  background-color: rgba(236, 236, 236, 1);
  color: black;
  text-decoration: underline;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-weight: 600;
  padding: 17px;
  display: block;
}
