.LoginContainer {
  background-size: cover;
  background-color: #74a4d5;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 0 0;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.eth-login-popup {
  /*width: 70%;*/
  /*max-width: 650px;*/
  /*height: 446px;*/

  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 40px;*/
  /*transform: translate(-50%, 0);*/
  /*padding: 34px 44px;*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
