.passportForm {
  color: #333333;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.passportForm form .inputGroup {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.passportForm form label {
  font-size: 1.3em;
  font-weight: bold;
  font-style: normal;
  line-height: 2em;
}

.passportForm form input {
  width: 345px;
  height: 45px;
  border: 2px solid #C4C7D3;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-weight: bold;
  margin: .2em 0;
  padding: 0 0.5em;
  font-size: 20px;
  line-height: 25px;
}

.passportForm form .actions {
  display: flex;
  justify-content: center;
  padding: 2em 0 0;
}

.passportForm form button.btnSubmit {
  background: #ff5273;
  box-shadow: 0 3px 0 #e12f4f;
  border-radius: 12px;
  display: block;
  border: 0;
  width: 192px;
  color: white;
  font-weight: bold;
  height: 46px;
}

